
<!-- Ky header do të përfshihet në çdo file tek folderi views -->
<!DOCTYPE html>
    <html>
        <head>
            <title>Detyra 2 Gr:3</title>
            <!-- Stil Css e jashtme (semantic UI) -->
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
            <!-- Përfshijmë Css tek folderi sylesheets (skedari app.css) -->
           <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
           <!-- Përshijmë dhe skriptin e jashtëm për jquery -->
           <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        </head>
        <body>
           <!-- Menuja (menubar) -->
        <div class="ui fixed inverted menu">
             <div class="ui container">
                 <div class="header item"><i class="file alternate icon"></i>Detyra</div>
                 <a href="/" class= "item">Home </a>
                 <!-- Menuja ku mund të shtojmë çadrën -->
                 <a href="/cadrat/new" class= "item">Shto Cader</a>
             </div>
        </div>
